/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Helvetica, Arial, sans-serif;
}

body {
    color: #fff;
    background-color: #121212 !important;
    /* background-color: red; */
    height: 100vh;
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}

.main {
    display: flex;
    width: 100vw;
}

/* Sidebar Styles */
.sidebar {
    background: #000;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow: auto;
    padding: 9px;
    display: flex;
    flex-direction: column;
    color: #b3b3b3;
    font-size: 14px;
}

.logo-container img {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 5px 0px;
    margin: 10px 0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #282828;
}

.sidebar-section {
    background: #181818;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 9px;
    overflow: hidden;
}

.sidebar-link-icon {
    margin-right: 15px;
    display: inline-block;
    width: 24px;
    text-align: center;
}

.sidebar-link {
    color: #b3b3b3;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.sidebar-link:hover,
.sidebar-link.active {
    color: #fff;
}

.sidebar-link-text {
    flex-grow: 1;
}


/* Header Styles */
.header-container {
    background-color: #181818;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.humbuger{
    display: none;
}

.humbuger img {
    height: 40px;
}

.humbuger-container {
    background-color: #121212 !important;
    color: white !important;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2a2a;
    border-radius: 20px;
    padding: 10px;
    width: 20rem;
}

.search-bar input[type="search"] {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    color: #fff;
    font-size: 18px;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 0 10px;
    cursor: pointer;
}

.log-sign-btn {
    display: flex;
    gap: 1rem;
}

.log-sign-btn button {
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 1.3rem;
    background-color: #f0f0f0;
    cursor: pointer;
}

.log-sign-btn button:hover {
    transform: scale(1.05);
}

.log-sign-btn span {
    font-size: 1rem;
    font-weight: 700;
    background-color: #f0f0f0;
    color: black;
}

/* Main Content Styles */
.right-section {
    margin-left: 250px;
    width: 80vw;
    padding: 20px;
}

.search-title {
    color: #fff;
    font-size: 22px;
    padding: 20px 0 0 20px;
}

.main-section {
    padding-top: 20px;
}

.main-section section {
    margin-top: 0px;
    padding: 0px;
    overflow-x: auto;
    white-space: nowrap;
}

/* Artist Card Styles */
.artist-card {
    width: 200px;
    height: 255px;
    background-color: #181818;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    margin: 0 5px 20px;
    display: inline-block;
}

.artist-card img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
}

.artist-card .artist-name {
    font-size: 18px;
    color: #fff;
    margin-top: 8px;
}

.artist-card .artist-title {
    font-size: 13px;
    color: #b3b3b3;
}

/* Browse All Section Styles */
.browse-all-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
    padding-top: 20px;
}

.browse-all {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 100px;
    padding: 10px;
    background-color: #121212;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    background: #181818;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 240px;
    width: 220px;
}

.category-card img {
    width: 100%;
    height: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.category-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0e0e0e;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 3px solid #0e0e0e;
}

.scrollable-row {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
}

.scrollable-row::-webkit-scrollbar {
    display: none;
}

.sidebar-link-subtext {
    margin-left: 10px;
    background-color: #b3b3b3;
    color: #000;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 12px;
    text-transform: uppercase;
}

/* Card Styles */
.card {
    display: inline-block;
    background-color: #282828;
    margin-right: 20px;
    border-radius: 4px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    * {
        font-size: 14px;
    }

    .sidebar,
    #search-bar {
        display: none;
    }

    .header-container{
        padding: 10px;
    }
    .humbuger {
        display: block;
    }

    .right-section {
        margin: 0px;
        padding: 10px;
        width: 100vw;
    }
}


/* Player Styles */
.player {
    background-color: #181818;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #b3b3b3;
}

.player .song-info {
    display: flex;
    align-items: center;
}

.player img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.player .song-title {
    font-size: 16px;
    font-weight: bold;
}

.player .artist-name {
    font-size: 14px;
}

.music-player {
    flex-grow: 1;
    padding: 20px;
    margin-left: 240px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
}

.player-container {
    max-width: 600px;
    text-align: center;
}

.album-cover {
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    margin-top: 100px;
}

.song-info {
    margin-bottom: 20px;
}

.song-title {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

.artist-name {
    color: #b3b3b3;
    font-size: 1.5em;
}

.player-controls {
    margin-bottom: 20px;
}

.control-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    margin: 0 20px;
    cursor: pointer;
}

.play-btn {
    font-size: 3em;
}

.none {
    display: none;
}

.progress-bar {
    width: 100%;
    background: #404040 !important;
    border-radius: 2px;
    height: 5px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.progress {
    background: #1db954 !important;
    width: 1%;
    height: 100%;
    border-radius: 2px;
}

.time-stamps {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.time-stamps span{
    color: white !important;
}