{% extends 'base.html' %}

{% load static %}

{% block title %}
  Spotify
{% endblock %}

{% block content %}
  <div class="right-section">
    
    <div class="top-artists">Top Artists</div>

    <main class="main-section">
      <section>
        <!-- Artist Card -->
        {% for artist in top_artists %}
          <div class="artist-card">
            <a href="/profile/{{ artist.id }}">
              <img src="{{ artist.url }}" alt="{{ artist.name }}" />
              <div class="artist-info">
                <div class="artist-name">{{ artist.name }}</div>
                <div class="artist-title">Artist</div>
              </div>
            </a>
          </div>
        {% endfor %}

        <!-- Add more content cards here -->
      </section>
      <div class="browse-all-title">Top Songs</div>

      <div class="browse-all">
        <!-- Category Card -->
        {% for track in tracks %}
          <a href="music/{{ track.id }}">
            <div class="category-card">
              <img src="{{ track.url }}" alt="{{ track.name }}" />
              <div class="category-title">{{ track.name }}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </main>
  </div>
{% endblock %}
