{% extends 'base.html' %}

{% load static %}

{% block title %}Artist Profile{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/profile-styl.css' %}" />

{% endblock %}


{% block content %} 

<!-- Main Content -->
<div class="artist-container">

  <!-- Artist Header -->
  <div class="artist-header">
    <img src="{{artist_data.imgUrl}}" alt="{{artist_data.name}}"
      class="artist-header-image">
    <div class="artist-header-info">
      <div class="artist-verified">
        <svg xmlns="http://www.w3.org/2000/svg" class="verified-icon" viewBox="0 0 24 24" fill="currentColor">
          <!-- Your SVG path for the verified icon -->
          <path
            d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 18.1c-3.374 0-6.1-2.726-6.1-6.1 0-3.374 2.726-6.1 6.1-6.1 3.374 0 6.1 2.726 6.1 6.1 0 3.374-2.726 6.1-6.1 6.1zm3.95-8.95l-4.4 4.4-2.1-2.1-1.45 1.45 3.55 3.55 5.85-5.85-1.45-1.45z" />
        </svg>
        <span class="verified-text">Verified Artist</span>
      </div>
      <h1 class="artist-name">{{artist_data.name}}</h1>
      <p class="artist-followers">{{artist_data.followers}} Followers</p>
    </div>
  </div>

  <!-- Popular Tracks Section -->
  <div class="popular-tracks">
    <h2 class="tracks-title">Top Songs</h2>

    <div class="tracks-list">
      <!-- Single Track Row -->
      {% for track in artist_data.topTracks %}
      <div class="track-row">
        <div class="track-info">
          <img src="{{track.imgUrl}}" alt="Song Image" class="track-image">
          <div>
            <a href="{% url 'music' track.trackId %}">
              <p class="track-name">{{track.trackName}}</p>
              <p class="track-artist">{{track.trackArtist}}</p>
            </a>
          </div>
        </div>
        <div class="track-playcount">{{track.playCount}}</div>
        <div class="track-duration">{{track.durationText}}</div>
      </div>
      {% endfor %}
    </div>
    <!-- Repeat for other tracks -->
  </div>
  <!-- <a href="#" class="see-more">See more</a> -->
</div>


{% endblock %}