
{% extends 'base.html' %}

{% load static %}

{% block title %}Search{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/search-style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- Main Content -->
  <!-- Popular Tracks Section -->
  <div class="search-section">
    <h2 class="section-title">Search Results {% if query %} for "{{query}}" {% endif %}</h2>
    <div class="track-list">
      <!-- Single Track Row -->
      {% for track in tracks %}
        <div class="track-item">
          <a href="{% url 'music' track.Id %}" class="track-link">
            <div class="track-details">
              <img src="{{ track.url }}" alt="{{ track.Name }}" class="track-image" />
              <div>
                <p class="track-name">{{ track.Name }}</p>
                <p class="track-artist">{{ track.artistName }}</p>
              </div>
            </div>
          </a>
          <div class="track-duration">{{ track.durationText }}</div>
        </div>
      {% endfor %}
      <!-- Repeat for other tracks -->
    </div>
  </div>

{% endblock %}
